<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
    <main id="specific">
      <div class="book container" data-bookID="<%=book._id%>">
        <i class="fas fa-trash"></i>
        <i class="fas fa-edit"></i>
        <h3>Title <br> <span class="editable title"><%=book.title%></span></h3>
        <br />
        <h4>Year <br> <span class="editable year"><%=book.year!=0?book.year:"Unknown"%></span></h3>
        <br />
        <h4>Author <br> <span class="editable author"><%=book.author%></span></h4>
        <br />
        <dl>
          <dt>Description</dt>
          <dd class="editable description"><%=book.description%></dd>
          <dt>Notes</dt>
          <dd class="editable notes"><%=book.notes!=""?book.notes:"None"%></dd>
          <dt>Favorite quotes</dt>
          <dd class="editable quotes"><%=book.quotes!=""?book.quotes:"None"%></dd>
        </dl>
        <i class="fas fa-save"></i>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
