<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
    <main id="browse" class="listPage">
      <div class="container" id="listPage">
        <h2>Browse books</h2>
        <% for (var book of books) {
          const bookInfo = book.volumeInfo;
          const bookID = book.id;
          const bookTitle = bookInfo.title;
          var bookYear = bookInfo.publishedDate;
          if (bookYear !== undefined)
            //Get only the year of the book
            bookYear = bookInfo.publishedDate.substring(0, 4).trim();
          else bookYear = "Unknown";
          var bookAuthors = bookInfo.authors;
          if (bookAuthors !== undefined) {
            const authors = () => {
              // Find the number of authors
              const authorCount = bookInfo.authors.length;
              var authors = "";
              for (var j = 0; j < authorCount; j++) {
                // Add each author and a comma and whitespace
                authors += `${bookInfo.authors[j]}, `;
              }
              // Remove the comma and whitespace of the last author
              authors = authors.substring(0, authors.length - 2).trim();
              return authors;
            };
            bookAuthors = authors();
          } else bookAuthors = "Unknown";
          var bookDescription = bookInfo.description;
          if (bookDescription === undefined) bookDescription = "None";
          %>
          <div class="book" data-bookID="<%=bookID%>">
            <button class="btn">Add</button>
            <h3>Title: <span class="editable title"><%=bookTitle%></span></h3>
            <br />
            <h4>Year: <span class="editable year"><%=bookYear%></span></h4>
            <br />
            <h4>Author: <span class="editable author"><%=bookAuthors%></span></h4>
            <br />
            <dl>
              <dt>Description</dt>
              <dd class="editable description"><%=bookDescription%></dd>
            </dl>
          </div>
        <% }%>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
