<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
    <main id="browse" class="listPage">
      <div class="container" id="listPage">
        <h2>Browse books</h2>
        <section id="search">
          <input type="text" name="search" placeholder="Book title or author"/>
          <i class="fas fa-search"></i>
        </section>
        <%
          if (books.length > 0){
          for (var book of books) {
          const bookInfo = book.volumeInfo;
          const bookID = book.id;
          const bookTitle = bookInfo.title;
          var bookYear = bookInfo.publishedDate;
          if (bookYear !== undefined)
            //Get only the year of the book
            bookYear = bookInfo.publishedDate.substring(0, 4).trim();
          else bookYear = "Unknown";
          var bookAuthors = bookInfo.authors;
          if (bookAuthors !== undefined) {
            const authors = () => {
              // Find the number of authors
              const authorCount = bookInfo.authors.length;
              var authors = "";
              for (var j = 0; j < authorCount; j++) {
                // Add each author and a comma and whitespace
                authors += `${bookInfo.authors[j]}, `;
              }
              // Remove the comma and whitespace of the last author
              authors = authors.substring(0, authors.length - 2).trim();
              return authors;
            };
            bookAuthors = authors();
          } else bookAuthors = "Unknown";
          var bookDescription = bookInfo.description;
          if (bookDescription === undefined) bookDescription = "None";
          %>
          <section id="books">
            <article class="book" data-bookID="<%=bookID%>">
              <button class="btn">Add</button>
              <h3>Title: <span class="editable title"><%=bookTitle%></span></h3>
              <br />
              <h4>Year: <span class="editable year"><%=bookYear%></span></h4>
              <br />
              <h4>Author: <span class="editable author"><%=bookAuthors%></span></h4>
              <br />
              <dl>
                <dt>Description</dt>
                <dd class="editable description"><%=bookDescription%></dd>
              </dl>
            </article>
          </section>
        <% }%>
        <section id="pagination">
          <% if (pageNumber > 1) {%>
          <a href='/book/browse?q=<%=searchQuery%>&p=<%=pageNumber-1%>' class="left"><i class="fas fa-arrow-left"></i></a>
          <% } %>
          <h2 id="currentPage"><%=pageNumber%></h2>
          <% if (pageNumber < maxPage) {%>
          <a href="/book/browse?q=<%=searchQuery%>&p=<%=parseInt(pageNumber)+1%>" class="right"><i class="fas fa-arrow-right"></i></a>
          <% } %>
        </section>
        <% } else {%>
          <section id="noBooks">
            <h3>There are no books to display :(</h3>
            <p>Looks like we have no books that match what you are looking for. You can either broaden your search or you can <a href="/book/add">manually add the book</a></p>
          </section>
        <% } %>

      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
