<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
    <main id="current" class="listPage">
      <div class="container" id="listPage">
        <h2>Current books</h2>
        <section id="sort">
          <label for="sort">Sort by: </label>
          <select id="cars" name="sort">
            <option value="_id" selected>Date added</option>
            <option value="year">Year published</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
          </select>
          <input type="radio" id="ascending" name="sortOrder" value="1" >
          <label for="ascending">Ascending</label>
          <input type="radio" id="descending" name="sortOrder" value="-1" checked>
          <label for="descending">Descending</label>
          <button type="button" class="btn" name="submit">Sort</button>
        </section>
        <% for (var book of books) {
          %>
          <div class="book" data-bookID="<%=book._id%>">
            <a href="/book/<%=book._id%>" class="bookLink"><h3>Title: <span class="editable title"><%=book.title%></span></h3></a>
            <br />
            <h4>Year: <span class="editable year"><%=book.year!=0?book.year:"Unknown"%></span></h4>
            <br />
            <h4>Author: <span class="editable author"><%=book.author%></span></h4>
            <br />
            <dl>
              <dt>Description</dt>
              <dd class="editable description"><%=book.description%></dd>
              <dt>Notes</dt>
              <dd class="editable notes"><%=book.notes!=""?book.notes:"None"%></dd>
              <dt>Favorite quotes</dt>
              <dd class="editable quotes"><%=book.quotes!=""?book.quotes:"None"%></dd>
            </dl>
          </div>
        <% }%>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
