<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
    <main id="current">
      <div class="container">
        <h2>Current books</h2>
        <% if (error===true){ %>
          <h3>This book already exists</h3>
        <% }%>
        <% for (var book of books) {%>
          <div class="book" data-bookID="<%=book._id%>">
            <i class="fas fa-trash"></i>
            <i class="fas fa-edit"></i>
            <h3 class="editable title"><%=book.title%></h3>
            <h3>(<span class="editable year"><%=book.year%></span>)</h3>
            <br />
            <h4 class="editable author"><%=book.author%></h4>
            <br />
            <p>Description: <span class="editable description"><%=book.description%></span></p>
            <br />
            <p>Notes: <span class="editable notes"><%=book.notes%></span></p>
            <br />
            <p>Favorite quotes: <span class="editable quotes"><%=book.quotes%></span></p>
            <i class="fas fa-save"></i>
          </div>
        <% }%>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
