<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
    <main id="current">
      <div class="container">
        <h2>Current books</h2>
        <% for (var book of books) {%>
          <div class="book" data-bookID="<%=book._id%>">
            <a href="./<%=book._id%>" class="bookLink"><h3>Title: <span class="editable title"><%=book.title%></span></h3></a>
            <br />
            <h4>Year: <span class="editable year"><%=book.year%></span></h4>
            <br />
            <h4>Author: <span class="editable author"><%=book.author%></span></h4>
            <br />
            <dl>
              <dt>Description</dt>
              <dd class="editable description"><%=book.description%></dd>
              <dt>Notes</dt>
              <dd class="editable notes"><%=book.notes%></dd>
              <dt>Favorite quotes</dt>
              <dd class="editable quotes"><%=book.quotes%></dd>
            </dl>
          </div>
        <% }%>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
